body {
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    margin: 0;
    height: auto;
    min-height: 100%;
    overflow-x: clip;
    position: relative;
    font-size: 1rem;
    line-height: 1.6;
    font-family: 'Open Sans',sans-serif;
    color: #111111;
    background-color: #ffffff;
}

.filters-button {
    margin: 10px 0 0 10px !important;
    font-size: 24px;
    background-color: #77aad9;
    color: #ffffff;
    border-radius: 6px;
    max-width: 292px;
    width: 292px;
    height: 50px;
    border: 0;
    cursor: pointer;
}

.input-price {
    height: 40px;
    margin-top: 10px;
    max-width: 278px;
}

.filters-text {
    margin: 10px 0 5px;
    font-size: 24px;
    text-align: center;
}

.btn-submit {
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;
    border: 0 none transparent;
    outline: none !important;
    margin: 0;
    font-style: initial;
    white-space: nowrap;
    user-select: none;
    vertical-align: middle;
    text-align: center;
    padding: auto;
    border-radius: 0;
    align-self: flex-start;
    display: inline-block;
    line-height: 1.4;
    color: #ffffff;
    background-color: #77aad9 !important;
}

input {
    margin-left: 10px;
    padding-left: 10px;
    background-clip: padding-box;
    border-style: solid;
    border-width: 1px;
    border-color: #b3b3b3;
    background-color: #ffffff;
    color: #000000;
    justify-content: center;
    vertical-align: middle;
    stroke: none;
    font-size: 1.5rem;
    text-align: start;
    display: flex;
    flex: 0 0 auto;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 0;
    flex-grow: 1;
    flex-shrink: 1;
}

.secta {
    display: flex;
}

.filters-cont {
    width: 300px;
    height: 1900px
}

.model {
    text-align: left;
    stroke: none;
    margin: 5px 20px 0 24px;
}

.price {
    text-align: left;
    stroke: none;
    margin: 0 20px 0 24px;
}

.image {
    object-fit: cover;
    display: block;
    vertical-align: middle;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    color: #111111;
    overflow: hidden;
    width: 200px;
    height: 300px;
    margin: 0 50px;
}

.div-svg {
    position: relative;
    color: #f5d654 !important;
    width: 20px;
    height: 20px;
    margin: -25px 11px 0 auto;
}

.svg-1 {
    overflow: hidden;
    position: absolute;
    fill: #f5d654;
}

.svg-2 {
    color: #f5d654 !important;
    width: 0;
    height: 0;
    overflow: hidden;
}

.rating-text {
    font-size: 1.125rem;
    margin: 12px 36px 0 235px;
}

.container-product-1 {
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: #404040;
    stroke: none;
    width: 300px;
    height: 500px;
    margin: 0 10px 0 0;
    padding: 6px 0;
}

.catalog {
    display: flex;
    position: relative;
    text-align: left;
    min-height: 1009px;
    height: auto;
    margin: 26px 25px 60px;
}

.container {
    box-sizing: border-box;
    position: relative;
    min-height: 1432px;
}

.btn-2 {
  margin: 0 auto 0 25px !important;
  padding: 8px 33px !important;
}

.btn-3 {
  margin: -39px auto 0 251px !important;
  padding: 8px 33px !important;
}

.btn-4 {
  font-weight: 700;
  font-size: 0.9375rem;
  border-style: solid;
  margin: 6px auto 0 !important;
  height: 40px;
  width: 250px;
}