.u-section-1 .u-sheet-1 {
  min-height: 713px;
}

.u-section-1 .u-group-1 {
  width: 589px;
  min-height: 250px;
  --radius: 10px;
  height: auto;
  margin: 60px 264px 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px;
}

.u-section-1 .u-form-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    margin-right: 131px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }
}