<!DOCTYPE html>
<html style="font-size: 16px;" lang="ru"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>Главная</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" media="screen">
    <link rel="stylesheet" href="{{ url_for('static', filename='un.css') }}" media="screen">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Главная"></head>


  <body>
  
  <header>
      <div class="head">
        <a class="logo" href="/">Xolodinik.BY</a>
        <p class="logo-text">Интернет магазин<br>холодильников</p>
        {% if current_user.is_active and not current_user.role == "admin" %}
          <a href="/cub" style="margin-right: 20px !important;" class="btn btn-2">Личный кабинет</a>
        {% elif current_user.role == "admin" %}
          <a href="/panel" style="margin-right: 20px !important;" class="btn btn-2">Админ панель</a>
        {% else %}
          <a href="/register" class="btn btn-1">Регистрация</a>
          <a href="/login" class="btn btn-2">Войти</a>
        {% endif %}
      </div>
  </header>


    <section>
      <div class="container">
        <a href="" class="btn btn-1">Фильтры </a>
        <a href="" class="btn btn-2">Сначала дешёвые </a>
        <a href="" class="btn btn-3">Сначала дорогие</a>
          <div class="catalog">
              {% for prod in prods%}
            <div class="container-product-1">
                <p class="rating-text">{{ prod.rating }}</p>
                <div class="div-svg">
                  <svg class="svg-1" preserveAspectRatio="none" viewBox="0 0 160 154"><use xlink:href="#svg-7557"></use></svg>
                  <svg class="svg-2" viewBox="0 0 160 154" id="svg-7557"><path d="M90.5,6.5l15.7,31.9c1.7,3.5,5,5.9,8.8,6.4l35,5.2c9.6,1.4,13.4,13.2,6.5,20l-25.3,24.8c-2.8,2.7-4,6.6-3.4,10.4l6,35
	c1.6,9.6-8.4,16.9-16.9,12.4L85.5,136c-3.4-1.8-7.5-1.8-10.9,0l-31.4,16.6c-8.6,4.5-18.6-2.8-16.9-12.4l6-35
	c0.7-3.8-0.6-7.7-3.4-10.4L3.5,70c-6.9-6.8-3.1-18.6,6.5-20l35-5.1c3.8-0.6,7.1-3,8.8-6.4L69.5,6.6C73.8-2.2,86.2-2.2,90.5,6.5z"></path></svg>
                </div>
                <img class="image" src="{{ url_for('static', filename=prod.image_path) }}">
                <p class="model">{{ prod.model }}</p>
                <p class="price">Цена: {{ prod.price }}</p>
                <a class="btn btn-4" href="/product?id={{ prod.id }}">Подробнее</a>
                <a class="btn btn-4" href="/order?id={{ prod.id }}">Купить </a>
              </div>
            </div>
              {% endfor %}
        </div>
    </section>
    
  <footer></footer>
  
</body></html>