<!DOCTYPE html>
<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>Админ панель</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='panel.css') }}" media="screen">
    <link rel="stylesheet" href="{{ url_for('static', filename='un.css') }}" media="screen">
    <link rel="stylesheet" href="{{ url_for('static', filename='cub.css') }}" media="screen">
    <link id="u-theme-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Админ панель">
</head>

<body>

<header>
    <div class="head">
        <a class="logo" href="/">Xolodinik.BY</a>
        <p class="logo-text">Интернет магазин<br>холодильников</p>
        <div class="header-div" style="display: flex; justify-content: center; padding-left: 395px;">
            <a href="/panel/products" class="btn btn-2" style="margin: 0 0 0 0 !important">Товары</a>
            <a href="/panel/orders" class="btn btn-2" style="margin: 0 0 0 10px !important">Список заказов</a>
            <a href="/panel/sales" class="btn btn-2" style="margin: 0 0 0 10px !important">Создание акций</a>
        </div>
        <a href="/logout" class="btn btn-2" style="margin-right: 30px !important;">Выйти из аккаунта</a>
    </div>
</header>

<section>

    <div style="display: grid; place-items: center; min-height: 830px;">
    <div class="container">
        <div class="create-product-container">
            <div class="create-product-container-1">
                <p class="text">Создать товар</p>
                <form enctype="multipart/form-data" class="form-1" name="form" method="post">

                    <div class="container-input">
                        <label for="model">Модель</label>
                        <input type="text" id="model" name="model" class="input" required autocomplete="off">
                    </div>

                    <div class="container-input">
                        <label for="producer">Производитель</label>
                        <input type="text" id="producer" name="producer" class="input" required autocomplete="off">
                    </div>

                    <div class="container-input">
                        <label for="price">Цена</label>
                        <input type="text" id="price" name="price" class="input" required autocomplete="off">
                    </div>

                    <div class="container-input">
                        <label for="width">Ширина</label>
                        <input type="text" id="width" name="width" class="input" required autocomplete="off">
                    </div>

                    <div class="container-input">
                        <label for="depth">Глубина</label>
                        <input type="text" id="depth" name="depth" class="input" required autocomplete="off">
                    </div>

                    <div class="container-input">
                        <label for="height">Высота</label>
                        <input type="text" id="height" name="height" class="input" required autocomplete="off">
                    </div>

                    <div class="container-input">
                        <label for="weight">Вес</label>
                        <input type="text" id="weight" name="weight" class="input" required autocomplete="off">
                    </div>

                    <div class="container-input">
                        <label for="volume">Общий объем</label>
                        <input type="text" id="volume" name="volume" class="input" required autocomplete="off">
                    </div>

                    <div class="container-input">
                        <label for="service">Срок службы</label>
                        <input type="text" id="service" name="service" class="input" required autocomplete="off">
                    </div>

                    <div class="container-input">
                        <label for="country">Страна производства</label>
                        <input type="text" id="country" name="country" class="input" required autocomplete="off">
                    </div>

                    <div class="container-input">
                        <label for="category">Категория холодильного прибора</label>
                        <input type="text" id="category" name="category" class="input" required autocomplete="off">
                    </div>

                    <div class="container-input">
                        <label for="colling">Система охлаждения</label>
                        <input type="text" id="colling" name="colling" class="input" required autocomplete="off">
                    </div>

                    <div class="container-input">
                        <label for="color">Цвет корпуса</label>
                        <input type="text" id="color" name="color" class="input" required autocomplete="off">
                    </div>

                    <div class="container-input">
                        <label for="energy-efficiency">Класс энергоэффективности</label>
                        <input type="text" id="energy-efficiency" name="energy-efficiency" class="input" required
                               autocomplete="off">
                    </div>

                    <div class="container-input">
                        <label for="compressors">Количество компрессоров</label>
                        <input type="text" id="compressors" name="compressors" class="input" required
                               autocomplete="off">
                    </div>

                    <div class="container-input">
                        <label for="noise">Уровень шума</label>
                        <input type="text" id="noise" name="noise" class="input" required autocomplete="off">
                    </div>

                    <div class="container-input">
                        <label for="handle">Тип ручки</label>
                        <input type="text" id="handle" name="handle" class="input" required autocomplete="off">
                    </div>

                    <div class="container-input">
                        <label for="guaranty">Полная гарантия</label>
                        <input type="text" id="guaranty" name="guaranty" class="input" required autocomplete="off">
                    </div>

                    <div class="container-input">
                        <label for="control-unit">Расположение блока управления</label>
                        <input type="text" id="control-unit" name="control-unit" class="input" required
                               autocomplete="off">
                    </div>

                    <div class="container-input">
                        <label for="power">Номинальная потребляемая мощность</label>
                        <input type="text" id="power" name="power" class="input" required autocomplete="off">
                    </div>

                    <div class="container-input">
                        <label for="chambers">Количество камер</label>
                        <input type="text" id="chambers" name="chambers" class="input" required autocomplete="off">
                    </div>

                    <div class="container-input">
                        <label for="doors">Количество дверей</label>
                        <input type="text" id="doors" name="doors" class="input" required autocomplete="off">
                    </div>

                    <div class="container-input">
                        <label for="useful-volume">Полный полезный объeм</label>
                        <input type="text" id="useful-volume" name="useful-volume" class="input" required
                               autocomplete="off">
                    </div>

                    <div class="container-input">
                        <label for="useful-volume-ref">Полезный объем холодильной камеры</label>
                        <input type="text" id="useful-volume-ref" name="useful-volume-ref" class="input" required
                               autocomplete="off">
                    </div>

                    <div class="container-input">
                        <label for="useful-volume-freezer">Полезный объем морозильной камеры</label>
                        <input type="text" id="useful-volume-freezer" name="useful-volume-freezer" class="input"
                               required autocomplete="off">
                    </div>

                    <div class="container-input">
                        <label for="voltage-frequency">Номинальное напряжение и частота</label>
                        <input type="text" id="voltage-frequency" name="voltage-frequency" class="input" required
                               autocomplete="off">
                    </div>

                    <div class="container-input">
                        <label for="energy-consumption">Годовое энергопотребление</label>
                        <input type="text" id="energy-consumption" name="energy-consumption" class="input" required
                               autocomplete="off">
                    </div>

                    <div class="container-input">
                        <label for="coolant">Хладагент</label>
                        <input type="text" id="coolant" name="coolant" class="input" required autocomplete="off">
                    </div>

                    <div class="container-input">
                        <label for="series">Серия</label>
                        <input type="text" id="series" name="series" class="input" required autocomplete="off">
                    </div>

                    <div class="container-input">
                        <label for="temperature">Средняя температура хранения свежих продуктов</label>
                        <input type="text" id="temperature" name="temperature" class="input" required
                               autocomplete="off">
                    </div>

                    <div class="container-input">
                        <label for="defrosting-system">Автоматическая система оттаивания холодильной камеры</label>
                        <input type="text" id="defrosting-system" name="defrosting-system" class="input" required
                               autocomplete="off">
                    </div>

                    <div class="container-input">
                        <label for="shelves">Общее количество полок</label>
                        <input type="text" id="shelves" name="shelves" class="input" required autocomplete="off">
                    </div>

                    <div class="container-input">
                        <label for="barriers">Количество барьеров на двери</label>
                        <input type="text" id="barriers" name="barriers" class="input" required autocomplete="off">
                    </div>

                    <div class="container-input">
                        <label for="baskets">Корзина для овощей или фруктов</label>
                        <input type="text" id="baskets" name="baskets" class="input" required autocomplete="off">
                    </div>

                    <div class="container-input">
                        <label for="inserts">Вкладыши для яиц</label>
                        <input type="text" id="inserts" name="inserts" class="input" required autocomplete="off">
                    </div>

                    <div class="container-input">
                        <label for="stoppers">Ограничитель для бутылок</label>
                        <input type="text" id="stoppers" name="stoppers" class="input" required autocomplete="off">
                    </div>

                    <div class="container-input">
                        <label for="freezer-temp">Температура хранения замороженных продуктов в морозильной
                            камере</label>
                        <input type="text" id="freezer-temp" name="freezer-temp" class="input" required
                               autocomplete="off">
                    </div>

                    <div class="container-input">
                        <label for="freezing-capacity">Мощность замораживания при температуре окр. среды +25°С</label>
                        <input type="text" id="freezing-capacity" name="freezing-capacity" class="input" required
                               autocomplete="off">
                    </div>

                    <div class="container-input">
                        <label for="freezer-parts">Количество отделений в морозильной камере</label>
                        <input type="text" id="freezer-parts" name="freezer-parts" class="input" required
                               autocomplete="off">
                    </div>

                    <div class="container-input">
                        <label for="size-without">Размер без упаковки (ВхШxГ)</label>
                        <input type="text" id="size-without" name="size-without" class="input" required
                               autocomplete="off">
                    </div>

                    <div class="container-input">
                        <label for="size-with">Размер в упаковке (ВхШxГ)</label>
                        <input type="text" id="size-with" name="size-with" class="input" required autocomplete="off">
                    </div>

                    <div class="container-input">
                        <label for="weight-without">Вес в упаковке</label>
                        <input type="text" id="weight-without" name="weight-without" class="input" required
                               autocomplete="off">
                    </div>

                    <div class="container-input">
                        <label for="weight-with">Вес без упаковки</label>
                        <input type="text" id="weight-with" name="weight-with" class="input" required
                               autocomplete="off">
                    </div>

                    <div class="container-input">
                        <label for="description">Описание</label>
                        <textarea rows="4" cols="50" id="description" name="description" class="input" required
                                  autocomplete="off"></textarea>
                    </div>

                    <div>
                        <label class="btn-label" for="image">Загрузить картинку</label>
                        <input type="file" id="image" name="image" class="hidden-input" autocomplete="off">
                    </div>
                    <button type="submit" name="button" value="create_product">Создать</button>
                </form>
            </div>
        </div>
            <div class="create-product-container" style="max-height: 215px">
                <div class="create-product-container-1">
                    <p class="text">Удалить товар</p>
                    <form class="form-1" name="form" method="post">
                        <select name="product" id="product">
                            {% for prod in prods %}
                            <option value="{{ prod.id }}">{{ prod.model }}</option>
                            {% endfor %}
                        </select>
                        <button type="submit" name="button" value="delete">Удалить</button>
                    </form>
                </div>
            </div>
        </div>
        </div>

</section>

<footer></footer>

</body>
</html>